<?xml version="1.0"?>

<model>
  <name>Mighty Morphin</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ismael Pacheco Villegas</name>
    <email>ismael.pacheco@cimat.mx</email>
  </author>


  <maintainer email="ismael.pacheco@cimat.mx">Nadie lo hara tbh</maintainer>


  <description>
    This is a bad model of a morphing drone.
  </description>
  </model>
